:root {
  --color-bg: hsl(0 0 10);
  --color-fg: hsl(0 0 90);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: sans-serif;
  background-color: #000;
  color: var(--color-fg);
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.start-round-btn {
  height: 4rem;
}

.stems-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stem-list {
  max-height: 16rem;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stem-item {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  padding: 0 0.5rem;
  border: 1px solid #333;
}

.quiz-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.freq-btn-group {
  display: flex;
  gap: 0.25rem;
}

.freq-btn {
  /*width: 5rem;*/
  min-width: 2.5rem;
  height: 4rem;
}

.result-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
